* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

header .logo img {
    height: 35px; /* Adjust logo size */
}



main {
    min-height: calc(100vh - 120px); /* Adjust according to header/footer height */
    background-image: url('https://images.unsplash.com/photo-1649336321305-3fe272852c94?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 60px;
    /* margin-top: 1px; */
}



